{% extends "activities/base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 400px;">
        <h2 class="text-center mb-4">Se connecter</h2>

        {# Messages flash #}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger mb-3">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}


            {% if form.non_field_errors %}
                <div class="alert alert-danger mb-3">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger small">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="text-danger small">
                        {{ form.password.errors }}
                    </div>
                {% endif %}
            </div>

            <button class="btn btn-primary w-100 bg-dark text-light border-warning shadow-s" type="submit">Se connecter</button>
        </form>

        <p class="text-center mt-3">Pas encore de compte ? <a href="{% url 'signup' %}" class="btn btn-secondary btn-sm bg-dark text-light border-warning shadow-s">S'inscrire</a></p>
    </div>
</div>
{% endblock %}
